<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>Page principale</title>
        <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/master.css" rel="stylesheet">
        <link href="/css/index.css" rel="stylesheet">
    </head>

    <body>
        <nav aria-label="main navigation" class="navbar is-danger" role="navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/img/logo.png" id="logo" alt="" />
                    <h1 class="title is-2">FixMyPath</h1>
                </a>

                <a aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="nav-links" id="burger"
                   role="button">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" id="nav-links">
                <div class="navbar-end">
                    <a class="navbar-item" href="/">Accueil</a>
                    <a class="navbar-item" href="/report">Envoyer rapport</a>

                    <div class="navbar-item">
                        <div class="field has-addons">
                            <p class="control">
                                <input class="input" placeholder="Rechercher" type="text">
                            </p>
                            <p class="control">
                                <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </p>
                        </div>
                    </div>

                    <div class="navbar-item has-text-centered pr-5">
                        {{#user_param.user}}
                            Bonjour<br/>{{name}}
                        {{/user_param.user}}
                        {{^user_param.user}}
                            <a class="navbar-item" href="/login">Se connecter</a>
                        {{/user_param.user}}
                    </div>

                </div>
            </div>
        </nav>

        <nav class="level is-mobile">
            <div class="level-left ml-4">
                <p class="level-item">
                    <a class="link is-info" href="/report">Signaler un incident</a>
                </p>
            </div>
            <div class="level-right mr-4">
                <p class="level-item">
                    <label class="label">Date</label>
                </p>
                <p class="tag is-medium" id="spanDate"></p>
            </div>
        </nav>

        <main class="section">
            <div class="container">
                {{#errors}}
                    <p class="button is-danger is-light m-1">
                        {{error}}
                    </p><br />
                {{/errors}}
                {{#successes}}
                    <p class="button is-success is-light m-1">
                        {{success}}
                    </p><br />
                {{/successes}}
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth is-fullheight">
                    <tr>
                        <th>Description</th>
                        <th>Adresse</th>
                        <th>Rapporté par</th>
                        <th>Date</th>
                    </tr>
                    <tbody>
                        {{#result}}
                        <tr>
                            <td><a href="/show_incident?id={{_id}}">{{#description}}{{description}}{{/description}}{{^description}}vide{{/description}}</a></td>
                            <td>{{adresse}}</td>
                            <td>{{author}}</td>
                            <td>{{date}}</td>
                        </tr>
                        {{/result}}
                    </tbody>
                </table>
            </div>
        </main>

        <script src="/js/master.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
