<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>Acceuil</title>
        <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/master.css" rel="stylesheet">
        <link href="/css/index.css" rel="stylesheet">
    </head>

    <body>
        <nav aria-label="main navigation" class="navbar is-danger" role="navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/img/logo.png" id="logo" alt="" />
                    <h1 class="title is-2">FixMyPath</h1>
                </a>

                <a aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="nav-links" id="burger"
                   role="button">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" id="nav-links">
                <div class="navbar-end">
                    <a class="navbar-item" href="/">Accueil</a>
                    <a class="navbar-item" href="/report">Envoyer rapport</a>

                    <div class="navbar-item">
                        <form action="/search" method="post" id="search"></form>
                        <div class="field has-addons">
                            <p class="control">
                                    <input class="input" placeholder="Rechercher" type="text" name="searched" form="search">
                            </p>
                            <p class="control">

                                <button class="button" form="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </p>
                        </div>
                    </div>

                    <div class="navbar-item has-text-centered pr-5">
                        {{#username}}
                        <div class="navbar-item has-dropdown" id="nav-links1">
                            <a class="navbar-link is-arrowless" data-target="nav-links1" id="userPseudo">
                                Bonjour<br/>{{username}}
                            </a>
                            <div class="navbar-dropdown is-boxed is-right" >
                              <a class="navbar-item"  href="/logout">
                                Déconexion
                              </a>
                            </div>
                        </div>

                        {{/username}}
                        {{^username}}
                            <a class="navbar-item" href="/login">Se connecter</a>
                        {{/username}}
                    </div>

                </div>
            </div>
        </nav>

        <main class="section">
            <div class="container">
                {{#errors}}
                    <p class="button is-danger is-light m-1">
                        {{error}}
                    </p><br />
                {{/errors}}
                {{#successes}}
                    <p class="button is-success is-light m-1">
                        {{success}}
                    </p><br />
                {{/successes}}

                <div class="level">
                    <div class="level-item mx-3">
                        <figure class="image">
                            <img src="/img/ImageB.jpg">
                        </figure>
                    </div>
                </div>

                <h1 id="intro">
                    <a href="/report">Signalez un incident</a> dans l'espace public d'Ottignies-Louvain-la-neuve!<br />
                    Participez à <span id="color">l'amélioration de votre espace</span>!
                </h1>
                <div class="level" id="tbl-head">
                    <a class="level-item button is-danger is-light" id="repbtn" href="/report">Signaler un incident</a>

                    <div class="level-item">
                        <p class="level-item">
                            <label class="label">Date</label>
                        </p>
                        <p class="tag is-medium" id="spanDate"></p>
                    </div>
                </div>

                <div class="table-container">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth is-fullheight">
                        <tr>
                            <th>Description</th>
                            <th>Adresse</th>
                            <th>Rapporté par</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                        <tbody>
                            {{#results}}
                            <tr>
                                <td class="description">
                                    <a href="/show_incident?id={{_id}}">
                                        <div class="description">
                                        {{#description}}{{description}}{{/description}}{{^description}}vide{{/description}}
                                        </div>
                                    </a>
                                </td>
                                <td class="address">{{address}}</td>
                                <td class="author">{{author}}</td>
                                <td class="date">{{date}}</td>
                                <td class="status">{{status}}</td>
                            </tr>
                            {{/results}}

                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <script src="/js/master.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
