<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>Incident</title>
        <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>
        <nav aria-label="main navigation" class="navbar is-danger" role="navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title is-2">FixMyPath</h1>
                </a>

                <a aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="nav-links" id="burger"
                   role="button">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" id="nav-links">
                <div class="navbar-end">
                    <a class="navbar-item" href="/">Accueil</a>
                    <a class="navbar-item" href="/report">Envoyer rapport</a>

                    <div class="navbar-item">
                        <div class="field has-addons">
                            <p class="control">
                                <input class="input" placeholder="Rechercher" type="text">
                            </p>
                            <p class="control">
                                <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </p>
                        </div>
                    </div>

                    <div class="navbar-item has-text-centered pr-5">
                        {{#user_param.user}}
                            Bonjour<br/>{{name}}
                        {{/user_param.user}}
                        {{^user_param.user}}
                            <a class="navbar-item" href="/login">Se connecter</a>
                        {{/user_param.user}}
                    </div>

                </div>
            </div>
        </nav>

        <nav class="level is-mobile">
            <div class="level-left ml-4">
                <p class="level-item">
                    <a class="link is-info" href="/report">Signaler un incident</a>
                </p>
            </div>
            <div class="level-right mr-4">
                <p class="level-item">
                    <label class="label">Date</label>
                </p>
                <p class="tag is-medium" id="spanDate"></p>
            </div>
        </nav>

        <main class="section">
            
            <form action="/update?id={{_id}}" class="column" method="post" id="update">
                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <textarea class="textarea" name="desc" placeholder="">{{result.description}}</textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Adresse</label>
                    <div class="control">
                        <textarea class="input" name="adr" type="text" placeholder="">{{result.adresse}}</textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Ajouter une image?</label>
                    <div class="file">
                        <label class="file-label">
                            <input class="file-input" type="file" accept="image/png, image/jpeg" name="image">
                            <span class="file-cta">
                                <span class="file-icon"><i class="fa fa-upload"></i></span>
                                <label class="file-label">Choisir une image</label>
                            </span>
                        </label>
                        
                        
                    </div>
                    
                </div>

                <div class="field">
                    <div class="control">
                        {{#auteur}}
                        <button class="button is-success" id="update" form="update" type="submit">Mettre à jour</button>
                        <a class="button is-danger" id="delete" href="/delete?id={{_id}}">Supprimer</a>
                        {{/auteur}}
                        {{^auteur}}
                        <button class="button is-success" id="update" form="update" type="submit" disabled title="Vous n'êtes pas l'auteur">Mettre à jour</button>
                        <button class="button is-danger " id="delete" href="/delete?id={{_id}}" title="vous n'êtes pas l'auteur" disabled>Supprimer</button>
                        {{/auteur}}
                        
                    </div>
                </div>
            </form>
        </main>

        <script src="/js/master.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
